@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 40px;
    font-weight: 600;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 22px;
    font-weight: 500;
}
h4{
    font-size: 18px;
}
p{
    font-size: 14px;
    font-weight: 400;
    line-height: 168%;
    color: rgba(255, 255, 255, 0.8);
}



body{
    background: hsla(235, 12%, 20%, 1);
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
    padding: 24px 0;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-left: 16px;
    font-size: 15px;
}
#profile{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 auto 16px;
}
#header-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
#header-content{
    text-align: center;
    
}
#header-content p{
    width: 600px;
    margin: 0 auto;
}
#header-content h1{
    margin: 20px auto;
    width: 634px;
    background: linear-gradient(180deg, #FFFFFF -75.86%, rgba(255, 255, 255, 0) 183.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#header-content h2{
    font-weight: 500;
}
#logo-section{
    padding:  24px 0;
    background-color: hsla(232, 12%, 26%, 1);
}
#logo-section ul{
    justify-content: space-around;
    padding: 0;
}
#logo-section li{
    font-size: 24px;
    font-weight: 400;
}
#About-us{
    padding: 80px 120px;
}
.flex-container{
    display: flex;
    justify-content: space-around;
}
.flex-item{
    padding: 100px;
    flex-grow: 1;
    border: 1px solid white;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

}
.grid-item{
    background: hsla(232, 12%, 26%, 1);
    border-radius: 20px;
    padding: 36px;
    
}
.grid-item h3{
    margin: 48px 0 16px;
}
.grid-item p{
    margin-bottom: 16px;
}
.section-title{
    text-align: center;
    margin-bottom: 48px;
}
