@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 48px;
    font-weight: 600;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 18px;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 168%;
    color: rgba(255, 255, 255, 0.8);
}



body{
    background: hsla(235, 12%, 20%, 1);
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-left: 16px;
}
#profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 auto;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
img{
    height: 720px;
    text-align: left;
}
#header-content{
    text-align: center;
    
}
#header-content p{
    width: 712px;
    margin: 0 auto;
}
#header-content h1{
    margin: 28px auto;
    width: 634px;
    background: linear-gradient(180deg, #FFFFFF -75.86%, rgba(255, 255, 255, 0) 183.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#header-content h2{
    font-weight: 500;
}

